/*           desktop        */

@media screen and (min-width: 1000px) {
  /* .header a {
    margin-top: -6px;
  } */

  .form-wrapper {
    margin-left: 8rem;
    margin-top: 28rem;
    width: 48rem;
    height: 60rem;
  }

  .form-wrapper label {
    font-size: 1.4rem;
  }

  .form-wrapper input {
    width: 42rem;
    height: 4rem;
    font-size: 1rem;
    margin-bottom: 4rem;
  }

  .form-wrapper textarea {
    width: 42rem;
  }

  .form-wrapper button {
    margin-top: 2rem;
    margin-left: 14rem;
    width: 14rem;
    height: 2.8rem;
    font-size: 1rem;
  }
}

/*      mobile     */

@media screen and (max-width: 768px) {
  /* .header-menu {
    display: none !important;
  }
  .landing-image {
    height: 200rem !important;
  }

  .sidebar-button {
    margin-bottom: 0.4rem !important;
    margin-right: 0.2rem !important;
    z-index: 222 !important;
  } */
}
